<div class="food-preview">
  <label>Author:</label> <a class="author"
    ui-sref="app.profile.main({ username:$ctrl.food.author.username })"
    ng-bind="$ctrl.food.author.username">
  </a>

  <a ui-sref="app.detailsFood({ slug: $ctrl.food.slug })" class="preview-link">
    <h1 ng-bind="$ctrl.food.title"></h1>
    <p class="difficulty-food">Difficulty: {{$ctrl.food.difficulty}}</p>
    <p ng-bind="$ctrl.food.description"></p>
    <button class="button-details">Read more...</button>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline"
        ng-repeat="tag in $ctrl.food.tagList">
        {{tag}}
      </li>
    </ul>
  </a>

</div>  
<hr>